spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/codingyo
#    GIT ìš©
    username: ${{secrets.POSTGRES_USERNAME}}
    password: ${{secrets.POSTGRES_PASSWORD}}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true